/* Basic styling for the app */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1fbfd;
}

header {
  background-color: hsl(209, 74%, 70%);
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  nav ul {
    display: block;
    text-align: center;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
  }
}
